    .radio, .checkbox {
        position: relative;
        bottom: 8px;
    }
    .rowradio + .rowradio .radio {
        margin-top: 0px;
    }
    input[type="checkbox"], input[type="radio"] {
        position: relative; bottom: 1px;}
    input[type='number'] {
        -moz-appearance: textfield;
    }
    input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none; appearance: none; 
        background: url("/img/chevron_down.svg") calc(100% - 17px) 60% no-repeat;
        background-size: auto 11px;
        
    }
    select.form-control::-ms-expand {
        display: none;
    }